//scroll
$scrollColor: #c7c6c6;

// fonts
$mainFont: "Source Sans Pro";

// main
$mainTextColor: #4c4545;
$mainLightlyColor: #fff;
$mainBorderColor: #ced4da;
$mainHoverColor: rgb(0,0,0, .04);
$wsBorderColor: rgba(0, 0, 0, 0.15);
$wsDashboardCardBgColor: #FEFEFE;
