<div *ngIf="contracts.length > 0  else noDataTemplate" class="flex flex-direction-column" style="width: 100%; gap: 10px; padding: 30px 0">
    <ng-container *ngFor="let contract of contracts; let idx = index">
        <p-panel [collapsed]="true"
                 [toggleable]="true"
                 [collapseIcon]="'pi pi-plus'"
                 [expandIcon]="'pi pi-minus'">
            <ng-template pTemplate="header">
                <div class="flex align-items-center" style="gap: 10px">
                    <p-avatar [image]="contract.startupInfo?.founder?.photoUrl!" size="large" shape="circle" />
                    <div class="flex flex-direction-column" style="gap: 5px">
                        <span style="font-weight: bold">{{ contract.startupInfo?.name! }}</span>
                        <span style="font-weight: bold">{{ 'STATUS_CONTRACT' | translate }}:
                            <span style="font-weight: 400">{{ getContractStatus(contract) }}</span>
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="icons">

            </ng-template>
            <ng-template pTemplate="footer">
                <div class="flex flex-direction-column" style="gap: 10px">
                    <div class="flex flex-wrap align-items-center justify-content-between gap-3">
                        <div class="flex align-items-center gap-2">
                            <span class="p-text-secondary">{{'INVESTOR_TYPE' | translate}}: <span style="font-weight: bold">{{ getInvestorTypeName(contract.investorInfo?.investorType!) }}</span></span>
                        </div>
                        <span class="p-text-secondary">{{'INVESTOR' | translate}}: <span style="font-weight: bold">{{ contract.investorInfo?.investorInfo?.email! }}</span></span>
                    </div>

                    <div *ngIf="user.role === Roles.Investor" class="flex justify-content-center">
                        <div class="flex align-items-center" style="gap: 20px">
                            <button
                                pButton
                                [label]="'REFUSE' | translate"
                                icon="pi pi-times"
                                iconPos="left"
                                class="p-button p-button-outlined p-button-danger"
                                (click)="onRefuseContract($event, contract)"
                            ></button>

                            <button
                                *ngIf="contract.status !== Statuses.Approved"
                                pButton
                                [label]="'SIGN_CONTRACT' | translate"
                                icon="pi pi-check"
                                iconPos="left"
                                class="p-button p-button-outlined p-button-success"
                                (click)="onAcceptContract($event, contract)"
                            ></button>
                        </div>
                    </div>
                </div>
            </ng-template>
            <div class="flex flex-direction-column" style="gap: 20px">
                <div class="flex align-items-start" style="gap: 10px">
                    <div style="font-weight: bold">{{'FORM_NAME' | translate}}:</div>
                    <div class="content-view" [innerHTML]="contract.startupInfo?.name!"></div>
                </div>
                <div class="flex align-items-start" style="gap: 10px">
                    <div style="font-weight: bold">{{'INVESTMENT_AMOUNT' | translate}}:</div>
                    <div>{{ contract.investmentAmount! | customCurrency }}</div>
                </div>
                <div class="flex align-items-start" style="gap: 10px">
                    <div style="font-weight: bold">{{'INVESTMENT_TERM' | translate}}:</div>
                    <div>{{ contract.investmentTerm! }} Month</div>
                </div>
            </div>
        </p-panel>
    </ng-container>
</div>

<ng-template #noDataTemplate>
    <div class="flex justify-content-center" style="font-weight: bold; color: #636363;">
        No Data
    </div>
</ng-template>
